@model LeafLit.ViewModels.AllUserShelvesViewModel


    <ul>
        @foreach (User user in Model.users)
        {
            <li>
                <a asp-controller="Shelf" asp-action="UserShelf" asp-route-userID="@user.UserID">@user.Username</a>
            </li>
        }
    </ul>

