@model LeafLit.Models.ImageLinks



<a asp-controller="Home" asp-action="Index"><img src="http://books.google.com/books/content?id=jeqwkbLg_BsC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api"</a>
